/* .roomsList {
  background-color: var(--bs-light);
  color: var(--bs-dark);
} */

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: var(--bs-gray-200);
}